# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution files
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/

# IDE-specific files
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints

# Logs and reports
*.log

# Miscellaneous
*.swp

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3  # Ignore SQLite database file

# Pytest
.cache
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
