# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution files
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/

# IDE-specific files
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints

# Logs and reports
*.log

# Miscellaneous
*.swp

# Django
*.log
*.pot
*.pyc
*.pyo

# Ignore SQLite database file
*.sqlite3
*.db

## Ignore ckedtor media
media/

# Pytest
.cache
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
