/* Base navigation bar styling */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: #188f98; /* Light gray background for contrast */
    border-bottom: 1px solid #ccc; /* Separating line between navigation and content */
    border-radius: 0 0 10px 10px; /* Rounded corners for buttons */
}


/* Home button specific style */
nav a:first-child {
    margin-right: 60px;
    margin-left: 15px;
    margin-right: 25px;
}
nav a:first-child:hover {

}

/* Navigation button links styling */
nav a {
    text-decoration: none; /* Remove underline from links */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners for buttons */
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin-left: 15px;
    margin-right: 15px;
}
/* Navigation button link hover effect */
nav a:hover {
    background-color: #00616e; /* Slightly darker on hover for interaction feedback */
}

/*personal center button*/
.right-buttons {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right within the container */
    margin-left: auto; /* Pushes the left buttons to the start of the line */
}