<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation_bar.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
<nav>
    <a href="{% url 'events:event_list' %}">Home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'events:create_event' %}">Create Event</a>
        <a href="{% url 'users:personal_center' %}" class="right-buttons">Personal Center</a>
        <a href="{% url 'users:logout' %}" >Logout</a>
    {% else %}
        {% block nav_login %}
        <a href="{% url 'users:login' %}">Login</a>
        {% endblock %}
        {% block nav_register %}
        <a href="{% url 'users:register' %}">Sign Up</a>
        {% endblock %}
    {% endif %}
</nav>

<!-- Display messages -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
