{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login_register.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-header">
        <h2>Log in</h2>
    </div>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log in</button>
        <div class="auth-switch">
            Don't have an account? <a href="{% url 'users:register' %}">Sign up</a>
        </div>
    </form>
</div>
{% endblock %}

{% block nav_login %}{% endblock %}