{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login_register.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-header">
        <h2>Sign up</h2>
    </div>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
        <div class="auth-switch">
            Already have an account? <a href="{% url 'users:login' %}">Log in</a>
        </div>
    </form>
</div>
{% endblock %}

{% block nav_register %}{% endblock %}