{% extends 'base.html' %}
{% load static %}

{% block title %}Create Event{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_event.css' %}">
{% endblock %}

{% block content %}
<div class="create-event-container">
    <h2 class="create-event-title">Create New Event</h2>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Event</button>
    </form>

</div>
{% load static %}
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
