{% extends 'base.html' %}

{% block content %}
<h1>Upcoming Events</h1>
<div class="event-grid">
    {% for event in events %}
    <a href="{% url 'events:event_detail' event.pk %}" class="event-card">
        <h2 class="event-title">{{ event.title }}</h2>
        <div class="event-info">
            <p>📅 {{ event.date_time }}</p>
            <p>📍 {{ event.location }}</p>
        </div>
        <p class="event-description">{{ event.description|striptags|truncatewords:30 }}</p>
    </a>
    {% empty %}
    <p>No events available.</p>
    {% endfor %}
</div>
{% endblock %}